.header {
  background-color: #a335ee;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px;
  border-bottom: 4px;
  border-style: solid;
  border-color: black;
  padding: 25px;
}

.username {
  font-size: 1.5rem;
  color: black;
  margin: .5rem;
}


.tittle {
  margin-top: -80px;
  margin-bottom: -40px;
  font-size: 8rem;
  color: black;
  text-shadow: 2px 2px 10px #ffffff;
  font-family: myFirstFont, cursive;
  
}

.cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cont2 {
  display: flex;
  font-size: 2rem !important;
}

.cont3 {
  display: inline-flex;
  align-items: center;
}

#userHello {
  font-size: 0px;
}

.intro {
  background-color: #a335ee !important;
}

.logout {
  margin-right: -8px;
  max-height: 100%;
  
}

@font-face {
  font-family: myFirstFont;
  src: url(./Flesh\ Wound.ttf);
}

@media only screen and (max-width: 769px)  {
  h1.tittle {
    margin-top: -30px;
    margin-bottom: -40px;
    margin-left: -5px;
    font-size: 4rem;
    color: black;
    font-family: myFirstFont, cursive;
  }

  .logout {
    margin-right: -12px;
    margin-top: 8px;
    display: flex;
  }

  .username {
    visibility: hidden;
    font-size: .000002rem;
    color: black;
    margin: .0002rem;
  }
}